.checkout{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout__title{
   margin-right: 10px;
   padding: 10px;
   border-bottom: 1px solid lightgray;
   font-size: 20px;
}

div h3 {
    font-size: 15px;
}

.checkout__ad{
    width: 100%;
    margin-bottom: 10px;
}



@media(min-width: 371px) and (max-width: 740px){
    .checkout{
        flex-wrap: wrap;
    }

    .checkout > .checkout__left > div > h3{
        font-size: 12px;
    }

    .checkout__title{
        font-size: 14px;
        font-weight: 600;
    }
}

@media(max-width: 370px){
    .checkout{
        flex-wrap: wrap;
        display: block;
    }

    .checkout > .checkout__left > div > h3{
        font-size: 12px;
    }

    .checkout__title{
        font-size: 14px;
        font-weight: 600;
    }

    .checkout__right{
        transform: scale(0.7);
        margin-left: -40px;
    }
}
