.header{
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header__logo {
    width: 100px;
    object-fit: contain;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 18px;
}

.header__optionBasket{
    display: flex;
    align-items: center;
    font-size: 30px;
}

.header__basketCount{
    margin-left: 10px;
    margin-right: 10px;
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header__optionLineOne{
    font-size: 10px;
}

.header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}

.header__link{
    margin-left: 10px;
    color: white;
    text-decoration: none;
}

.header__searchInput:focus {
    outline: none;
}

/* Style for the search container */
.header__search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    background-color: #fff;
}

/* Style for the search input */
.header__searchInput {
    border: none;
    outline: none;
    flex: 1;
    padding: 7px;
    font-size: 16px;
}

/* Style for the search icon */
.header__searchIcon {
    margin-right: -1px;
    font-size: 20px;
    background-color: #ed8c0d;
    padding: 11px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: 1px solid #ed8c0d;
}

.header__searchInput::placeholder{
    font-weight: 600;
}

.header__basketCount{
    color: orange;
}

.user__location{
    color: #ffffff;
    display: block;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    gap: 5px;
}

.user__location #name{
    margin-left: 20px;
    font-size: 12px;
    font-weight: 400;
    color: #d6d6d6;
}

#location__marker{
    margin-bottom: 9px;
}

.header__form{
    display: flex;
    flex: 1;
}

/* Media query for smaller screens */
@media(min-width: 320px) and (max-width: 768px) {
    .header{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 5px;
    }
    .header__logo {
        width: 60px;
        margin-top: 5px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .header__optionLineOne {
        font-size: 6px;
    }

    .header__optionLineTwo {
        font-size: 9px;
    }

    .header__optionBasket {
        font-size: 14px;
    }

    .header__searchInput {
        padding: 5px;
    }

}

@media (max-width: 375px) {
    .header{
        padding: 0px;
        margin: 0;
    }

    .header > *{
       margin-left: -10px;
       transform: scale(0.8);
    }

}

@media (max-width: 540px) {
    .header__link {
        margin-top: 10px;
    }

    .header__searchInput::placeholder{
        font-size: 10px;
    }

}

@media(min-width: 541px) and (max-width: 800px) {

    .header__searchInput::placeholder{
        font-size: 12px;
    }

}

