.login{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__logo{
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}

.login__container{
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
}

.login__container > h1{
    font-weight: 500;
    margin-bottom: 20px;
}

.login__container > form > h5{
    margin-bottom: 5px;
}

.login__container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
}

.login__container > form > input:focus{
    background-color: #F7FEFF;
    border-color: #007185;
    box-shadow: 0 0 0 3px #c8f3fa, 0 1px 2px rgba(15, 17, 17, .15) inset;
}

.login__container > p{
    margin-top: 15px;
    font-size: 12px;
}

.login__signInButton{
    background: #f0c14b;
    border-radius: 10px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    font-weight: 500;
    font-size: 12px;
}

.login__signInButton:hover{
    background-color: #ffa500;
}

.login__signInButton:hover{
    outline: none;
    border-color: none;
}

.login__registerButton{
    width: 100%;
    height: 30px;
    border: 1px solid darkgray;
    margin-top: 10px;
    border-color: darkgray;
    font-weight: 500;
    font-size: 13px;
    border-radius: 10px;
    background-color: #fffcfc;
}

.login__registerButton:hover{
    background-color: #f1eded;
}

.login__registerButton:focus{
    outline: none;
    border-color: none;
}

.login p{
    font-weight: 500;
}

input[type="text"],
input[type="password"] {
    border-radius: 3px;
    outline: none;
    border: 1px solid #9f9d9d;
    padding-left: 5px;
    font-size: 13px;
    font-weight: 600;
}

input:focus{
    outline: 3px solid lightblue;
    border-color: #000;
}

.login__toRecoverPassword{
    text-decoration: none;
    color: #0066c0;
}

.login__toRecoverPassword:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #c45500;
}

@media(max-width: 340px){
    .login{
        transform: scale(0.7);
    }
}