.register {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register__logo {
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}

.register__container {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
}

.register__container>h1 {
    font-weight: 500;
    margin-bottom: 20px;
}

.register__container>form>h5 {
    margin-bottom: 5px;
}

.register__container>form>input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
}

.register__container>p {
    margin-top: 15px;
    font-size: 12px;
}

.register__signInButton {
    background: #f0c14b;
    border-radius: 10px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    font-weight: 500;
    font-size: 12px;
}

.register__signInButton:hover {
    background-color: #ffa500;
}

.register__registerButton {
    width: 100%;
    height: 30px;
    border: 1px solid darkgray;
    margin-top: 10px;
    border-color: darkgray;
    font-weight: 500;
    font-size: 13px;
    border-radius: 10px;
    background-color: #fffcfc;
}

.register__registerButton:hover {
    background-color: #f1eded;
}

.register p {
    font-weight: 500;
}

input[type="text"]{
    border-radius: 3px;
    outline: none;
    border: 1px solid #9f9d9d;
    padding-left: 5px;
    font-size: 13px;
    font-weight: 600;
}

input[type="password"] {
    border-radius: 3px;
    outline: none;
    padding-left: 5px;
    font-size: 13px;
    font-weight: 600;
}

input[type="password"]::placeholder{
    position: absolute;
    margin-left: -1px;
    margin-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
    font-size: 13px;
    font-weight: 500;
    color: #918f8f;
}

input:focus {
    outline: 3px solid lightblue;
    border-color: #000;
}

.register__toLogin{
    text-decoration: none;
    margin-left: 5px;
    color: #0066c0;
}

.register__toLogin:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #c45500;
}

.password__info{
    font-size: 12px;
    position: relative;
    bottom: 10px;
    font-weight: 600;
    color: #2b2b2b;
}

.password__error{
    font-size: 12px;
    position: relative;
    bottom: 5px;
    font-weight: 600;
    color: brown;
}

.password__error > *{
    margin: 5px;
}

.password__error i{
    font-size: 15px;
    font-weight: bold;
}

.error__message > *{
    margin: 5px;
}

.error__message i{
    font-size: 15px;
    font-weight: bold;
}

.error__message{
    font-size: 12px;
    position: relative;
    bottom: 5px;
    font-weight: 600;
    color: brown;
}

.password__infoIcon{
    margin-bottom: 5px;
    color: #0066c0;
}

.password__errorIcon{
    margin-bottom: 5px;
    color: brown;
}

@media(max-width: 340px) {
    .register {
        transform: scale(0.7);
    }
}